
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h4>
    <a style="margin-left:130px;" asp-controller="Article"
       asp-action="Index">Article</a>
</h4>
<hr width="80%" />

