@model IEnumerable<BrightPathDev.Models.Article>

@{
    ViewData["Title"] = "Request Denied";
}



<div class="container">
    <h4>Article</h4>
    <hr />
    <div class="row">
        <h1 >You already submitted a request for this article please wait for approval</h1>
    </div>

    
</div>

